<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/abstarct_method_class_oops/src/abstarct_method_class_oops/concept.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="abstarct_method_class_oops.concept"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="abstarct_method_class_oops"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="abstarct_method_class_oops"/>
</launchConfiguration>
